



	<div class="container" style="">
		<div class="row">
			<div class="col-xs-12 col-lg-12" style="margin-top: 200px; height: 500px">
		

				<h3 class="heading">Student Housing Grading and Accreditation Council (SHGAC)   </h3>

				<p class="phrase"> Your Partner in Quality Student Accommodation </p>
				<p >
					Thank you for taking time to participate in this Online Survey for the development of Grading and Accreditation Criteria for Student Accommodation.  <br>

					This online survey is aimed at ensuring a comprehensive consultation process with all key stakeholders which is as wide and as user-friendly as possible. <br>

					Your opinion counts and will be fully considered when the student housing grading criteria are finalised.  <br>

					As a valued stakeholder, we do need you to take a few minutes to tell us about you and/or your <br>organisation which will help us ensure you get access to progress reports until the final adopted <br>criteria.
				</p>
				
				<%= link_to new_user_path, class: 'btn btn-outline-danger btn-large' do %>
					Sign Up
				<% end %>
			

			</div>

			
		</div>
	</div>






