



	<div class="container" style="">
		<div class="row">
			<div class="col-xs-12 col-lg-12" style="margin-top: 200px; height: 500px">
		

				<h3 class="heading">Student Housing Grading and Accreditation Council (SHGAC)   </h3>

				<p class="phrase"> Your Partner in Quality Student Accommodation </p>

				<%= link_to new_user_path, class: 'btn btn-outline-danger btn-large' do %>
					Sign Up
				<% end %>
			

			</div>

			
		</div>
	</div>






