<div class="container" style="margin-top: 100px; margin-bottom: 200px">
	<h3> Building Exterior </h3>
	<hr style="margin-bottom: 50px">
	
	<div class="row" >
		<div class="col-lg-7 " >
			<div style="padding: 20px; ">
				<h6 style="font-style: italic">
					<strong>
						1: Reception and/or unit entrances clearly identifiable and well lit at night.
					</strong>
				</h6>
				<form id="q1" style="margin-left: 20px; margin-top: 15px">
					<input type="radio" name="q1" value="true" checked id="q1-a"> Agree<br>
					<input type="radio" name="q1" value="false" id="q1-d"> Disagree<br>
				</form>
				<div id="q1-comment" style="display: none">
					<textarea type="text_area" name="q1_comment" form="q1" rows="3" cols="69" placeholder="Comment if you disagree..." style="margin-left: 20px"></textarea>
				</div>
				<hr style="border-color: grey; margin-left: 20px; margin-bottom: -20px">
			</div>
		</div>
	</div>

	<div class="row" >
		<div class="col-lg-7 " >
			<div style="padding: 20px; ">
				<h6 style="font-style: italic">
					<strong>
						2: Residence Name to be prominently located at front entrance.
					</strong>
				</h6>
				<form id="q2" style="margin-left: 20px; margin-top: 15px">
					<input type="radio" name="q2" value="true" checked id="q2-a"> Agree<br>
					<input type="radio" name="q2" value="false" id="q2-d"> Disagree<br>
				</form>
				<div id="q2-comment" style="display: none">
					<textarea type="text_area" name="q2_comment" form="q2" rows="3" cols="69" placeholder="Comment if you disagree..." style="margin-left: 20px"></textarea>
				</div>
				<hr style="border-color: grey; margin-left: 20px; margin-bottom: -20px">
			</div>
		</div>
	</div>

	<div class="row" >
		<div class="col-lg-7 " >
			<div style="padding: 20px; ">
				<h6 style="font-style: italic">
					<strong>
						3: Front entrace and facilities to be wheelchair accessible.
					</strong>
				</h6>
				<form id="q3" style="margin-left: 20px; margin-top: 15px">
					<input type="radio" name="q3" value="true" checked id="q3-a"> Agree<br>
					<input type="radio" name="q3" value="false" id="q3-d"> Disagree<br>
				</form>
				<div id="q3-comment" style="display: none">
					<textarea type="text_area" name="q3_comment" form="q3" rows="3" cols="69" placeholder="Comment if you disagree..." style="margin-left: 20px"></textarea>
				</div>
				<hr style="border-color: grey; margin-left: 20px; margin-bottom: -20px">
			</div>
		</div>
	</div>

	<div class="row" >
		<div class="col-lg-7 " >
			<div style="padding: 20px; ">
				<h6 style="font-style: italic">
					<strong>
						4: Statutory Fire Safety doors to be fitted through all the fire escapes.
					</strong>
				</h6>
				<form id="q4" style="margin-left: 20px; margin-top: 15px">
					<input type="radio" name="q4" value="true" checked id="q4-a"> Agree<br>
					<input type="radio" name="q4" value="false" id="q4-d"> Disagree<br>
				</form>
				<div id="q4-comment" style="display: none">
					<textarea type="text_area" name="q4_comment" form="q4" rows="3" cols="69" placeholder="Comment if you disagree..." style="margin-left: 20px"></textarea>
				</div>
				<hr style="border-color: grey; margin-left: 20px; margin-bottom: -20px">
			</div>
		</div>
	</div>

	<div class="row" >
		<div class="col-lg-7 " >
			<div style="padding: 20px; ">
				<h6 style="font-style: italic">
					<strong>
						5: Statutory Fire Safety signage to be fitted through all the fire escapes.
					</strong>
				</h6>
				<form id="q5" style="margin-left: 20px; margin-top: 15px">
					<input type="radio" name="q5" value="true" checked id="q5-a"> Agree<br>
					<input type="radio" name="q5" value="false" id="q5-d"> Disagree<br>
				</form>
				<div id="q5-comment" style="display: none">
					<textarea type="text_area" name="q5_comment" form="q5" rows="3" cols="69" placeholder="Comment if you disagree..." style="margin-left: 20px"></textarea>
				</div>
				<hr style="border-color: grey; margin-left: 20px; margin-bottom: -20px">
			</div>
		</div>
	</div>
		
</div>


<script type="text/javascript">
	$(document).ready(function(){
		$('#q1-d').click(function(){
	    	$('#q1-comment').show('slow');
		});
		$('#q1-a').click(function(){
	    	$('#q1-comment').hide('slow');
		});

		$('#q2-d').click(function(){
	    	$('#q2-comment').show('slow');
		});
		$('#q2-a').click(function(){
	    	$('#q2-comment').hide('slow');
		});

		$('#q3-d').click(function(){
	    	$('#q3-comment').show('slow');
		});
		$('#q3-a').click(function(){
	    	$('#q3-comment').hide('slow');
		});

		$('#q4-d').click(function(){
	    	$('#q4-comment').show('slow');
		});
		$('#q4-a').click(function(){
	    	$('#q4-comment').hide('slow');
		});

		$('#q5-d').click(function(){
	    	$('#q5-comment').show('slow');
		});
		$('#q5-a').click(function(){
	    	$('#q5-comment').hide('slow');
		});
	});
</script>