<div class="container" style="margin-top: 100px">
	<h3> Building Exterior </h3>
	<hr style="margin-bottom: 50px">
	
	<div class="row">
		<div class="col-lg-9 " >
			<h6 style="font-style: italic">
				1: Reception and/or unit entrances clearly identifiable and well lit at night.
			</h6>
			<form id="q1" style="margin-left: 20px; margin-top: 15px">
				<input type="radio" name="q1" value="true" checked > Agree<br>
				<input type="radio" name="q1" value="false" > Disagree<br>
			</form>
			<div id="q1-co">
				<textarea type="text_area" name="q1_comment" form="q1" rows="3" cols="75" placeholder="Comment if you disagree..." style="margin-left: 20px"></textarea>
			</div>
		</div>
	</div>
		
		
</div>